body {
  font-family: "Raleway", sans-serif;
}

.nav-bar {
  background: rgb(39, 39, 39);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  top: 0;
}

.principal7 {
  margin-top: 4.3rem;
}

.hamburguer {
  padding: 0.5em 0.5em 0.5em 1em;
}

a {
  text-decoration: none;
}

.items-enlace {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0.5em;
  padding: 0.5rem 0;
}

.items-enlace a {
  color: rgb(240, 240, 240);
  font-weight: 600;
  font-size: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.ini img {
  display: block;
  height: 2.9rem;
  width: 2.9rem;
  border-radius: 50%;
  object-fit: cover;
}

/* Pie de pagina */
.pie-pagina {
  background: rgb(10, 10, 10);
  color: rgb(250, 250, 250);
  padding: 0.2rem 1rem 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articulos-interes a,
.articulos-redes a {
  display: block;
}

hr {
  background: rgb(240, 240, 240);
  width: 100%;
}

.section a {
  color: #ffa500;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.derechos {
  padding-top: 10px;
}

/* COLORES DE LOS ENLACES, NAVEGACIÓN IZQUIERDA */
.page1 {
  color: #ffa500 !important;
  background-color: rgb(39, 39, 39);
}

#subtitle a.active {
  color: #ffa500 !important;
  background-color: rgb(39, 39, 39);
}

/* MEDIA QUERIES */
/* Tablets y celulares grandes */
@media (min-width: 500px) {
  .items-enlace a {
    margin-left: 2rem;
  }
  .section a {
    font-size: 1.2rem;
  }
}

/* Computadoras */
@media (min-width: 900px) {
  .items-enlace a {
    font-size: 1.5rem;
    margin-right: 5rem;
  }

  .items-enlace a:hover {
    color: #ffa500;
  }

  .section a {
    font-size: 1.3rem;
  }
  @media (min-width: 500px) {
    .ini img {
      display: block;
    }

    .items-enlace a {
      margin-left: 2rem;
    }
  }
}

/* Gallería de Imágenes */
.container7 {
  margin: 0.5rem;
  display: grid;
  gap: 0.5rem;
}

.gallery-image {
  width: 100%;
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: -8px;
  border-radius: 3px;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 100px) {
  .container7 {
    grid-template-columns: repeat(1, 1fr);
  }

  .texto-galeria {
    height: 210px;
    font-size: 0.7rem;
  }
  .gallery-image {
    height: 210px;
  }

  .gallery-image:hover {
    height: 214px;
  }
}

@media (min-width: 330px) {
  .container7 {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery-image {
    height: 210px;
  }
  .texto-galeria {
    height: 210px;
  }

  .gallery-image:hover {
    height: 214px;
  }
}

@media (min-width: 470px) {
  .gallery-image {
    height: 290px;
  }
  .texto-galeria {
    height: 290px;
    font-size: 0.9rem;
  }

  .gallery-image:hover {
    height: 294px;
  }
}

@media (min-width: 1000px) {
  .container7 {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-image {
    height: 380px;
  }
  .gallery-image:hover {
    height: 384px;
  }
  .texto-galeria {
    height: 384px;
    font-size: 1rem;
  }
}

.texto-galeria {
  width: 100%;
  outline: 2px solid rgb(255, 255, 255);
  outline-offset: -8px;
  border-radius: 3px;
  background: rgb(0, 0, 0);
  background: #231f1f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  color: rgb(240, 240, 240);
}

.texto-galeria p {
  padding: 0 1rem 1rem 1rem;
}
.intermedio {
  height: 80%;
}
.texto-galeria::-webkit-scrollbar {
  width: 8px; /* Ancho del scroll */
}

.texto-galeria::-webkit-scrollbar-thumb {
  background-color: #ffa500; /* Color del scroll */
  border-radius: 10px; /* Redondeo del scroll */
}

.texto-galeria::-webkit-scrollbar-track {
  background-color: #333; /* Color de fondo del track */
  border-radius: 10px;
}

.texto-galeria::-webkit-scrollbar-thumb:hover {
  background-color: #ff7300; /* Color del scroll al pasar el mouse */
}
